<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CreativeCoinConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDBFilename=C:\Program Files (x86)\hoangduy.hrc@gmail.com\CC_Setup\CreativeCoinDb.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CreativeCoinConnection2" connectionString="Data Source=(localdb)\MSSQLLocalDB;Database=CreativeCoinDb;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="Interface.Properties.Settings.ConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
